<html>
    <head>
        <title>About UniTextResale</title>
    </head>
    <body>
    <header>
        <h1>Our Mission</h1>
        <p>To create a cost-effective and sustainable marketplace for textbook exchange among college students.</p>
    </header>
    
        <h2>Company Values</h2>
          <ul >
              <li class="n">Cost-Efficiency: Making textbooks affordable for every student.</li><br>
              <li class="n">Sustainability: Reducing environmental impact through the reuse of textbooks.</li><br>
              <li class="n">User-Friendly Experience: Ensuring a seamless and stress-free platform for our users.</li>
         </ul>
       
    
        <section>
          <h2>How It Works</h2>
          <p>Buyer and Seller Connection: Learn how UniTextResale simplifies textbook transactions.</p>
          <p>Saving Time, Saving Money: Discover the advantages of our time-efficient platform.</p>
        </section>
    </body>
</html>