<body>
    <header class="help-header">
        <h1>Help Center</h1>
    </header>
    <main class="help-container">
        <section id="help-center">
            <h2>Customer Support and Assistance</h2>
            <p>Welcome to UniTextResale's Help Center. Our dedicated customer support team is here to assist you with any inquiries, concerns, or issues you may encounter while using our platform. Feel free to reach out to us through the following channels:</p>

            <h3>Contact Information</h3>
            <p>Email: support@UniTextResale.com<br><br>
            Phone: (312) 362-8000<br><br>
            Live Chat: Available during business hours</p>

            <h3>Frequently Asked Questions</h3>
            <p>Explore our FAQ section to find answers to common questions about buying, selling, and navigating UniTextResale. If you can't find what you're looking for, our support team is ready to assist you.</p>

            <h3>Shipping and Delivery</h3>
            <p>Learn more about our shipping and delivery processes, including estimated delivery times, tracking information, and our shipping partners.</p>

            <h3>Returns and Refunds</h3>
            <p>Find information on our return policy, including how to initiate a return, eligibility criteria, and the refund process.</p>

            <h3>Account Assistance</h3>
            <p>Discover how to manage your UniTextResale account, update your profile information, and troubleshoot common account-related issues.</p>

            <h3>Feedback and Suggestions</h3>
            <p>We value your feedback. Let us know about your experience with UniTextResale and share your suggestions for improvement. Your input helps us enhance our platform.</p>

        </section>
    </main>
</body>
 