<body>
    <header class="privacy-header">
        <h1>Privacy Policy</h1>
    </header>
    <main class="privacy-container">
        <section id="privacy-policy">
            <h2>Privacy Policy</h2>
            <p>Welcome to UniTextResale's Privacy Policy section. We are committed to protecting your privacy and ensuring the security of your personal information. Please read the following to understand how we collect, use, and safeguard your information:</p>

            <h3>Information We Collect</h3>
            <p>We collect personal information, such as your name, email, and address when you register on our site. We also collect non-personal information, such as browser type and IP address, to enhance our site's performance.</p>

            <h3>How We Use Your Information</h3>
            <p>We use your information to provide and personalize our services, process transactions, and send periodic emails regarding your orders and promotions. Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company without your consent.</p>

            <h3>Information Security</h3>
            <p>We implement various security measures to maintain the safety of your personal information when you access or enter your personal information.</p>

            <h3>Third-Party Links</h3>
            <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We, therefore, have no responsibility or liability for the content and activities of these linked sites.</p>

            <h3>Changes to Our Privacy Policy</h3>
            <p>If we decide to change our privacy policy, we will post those changes on this page and update the modification date below.</p>

            <br><p>Last modified: January 30, 2024</p>       

        </section>
    </main>
</body>