<h1 style="text-align: center;">Reports</h1>
<ul>
<li class="n"><a href="/report/custlist" class="LinkMagic">Customer Listing </a></li>
<li class="n"><a href="/report/prodlist" class="LinkMagic">Product Listing </a></li>
<li class="n"><a href="/report/salelist" class="LinkMagic">Sale Listing </a></li>
</ul>

